<!DOCTYPE html>
<title>{% block title %}{% endblock %} - ToDo list</title>
<link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
<div class="barra">
    <nav>
        <a id="titulo" href="{{ url_for("todo.index") }}">
            <h1>Todo List</h1>
        </a>
        <ul>
            {% if g.user %}
            <li><a href="{{ url_for("auth.logout")}}">Cerrar sesión</a></li>
            <li><span>{{ g.user["username"] }}</span></li>
            {% else %}
            <li><a href="{{ url_for("auth.register") }}">Registrarse</a></li>
            <li><a href="{{ url_for("auth.login") }}">Iniciar sesion</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>