[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"

[packages]
flask = "*"
mysql-connector-python = "*"
python-dotenv = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
